/vendor/
/.idea
/composer.lock
/examples/Blade/runtime
/examples/Think/runtime
/examples/Smarty/runtime
/examples/Twig/runtime
/temp
/.phpunit.result.cache
/examples/Fenom/runtime
/examples/Latte/runtime
/examples/MtHaml/runtime
/examples/Mustache/runtime
/examples/Phptal/runtime
/examples/Pug/runtime
/examples/RainTPL/runtime
