/vendor/
/.idea
/composer.lock
/examples/Blade/runtime
/examples/think/runtime
/examples/smarty/runtime
/examples/twig/runtime
/temp
/.phpunit.result.cache
/examples/Fenom/runtime
/examples/Latte/runtime
/examples/MtHaml/runtime
/examples/Mustache/runtime
/examples/Phptal/runtime
/examples/Pug/runtime
