/.idea/
/demo/Blade/runtime/
/demo/Fenom/runtime/
/demo/Latte/runtime/
/demo/MtHaml/runtime/
/demo/Mustache/runtime/
/demo/Phptal/runtime/
/demo/Pug/runtime/
/demo/RainTPL/runtime/
/demo/Smarty/runtime/
/demo/Think/runtime/
/demo/Twig/runtime/
/temp/
/vendor/
/.phpunit.result.cache
/composer.lock